.loginbox{
 font-size: 24px;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 color: white;
 background-color: rgba(255, 255, 255, 0.278);
 width: 300px;
 height: 625px;
 text-align: center;
 align-self: center;
 margin-left: 625px;
 margin-top: 50px;
 border-radius: 5px;

}
button{
    background-color: rgb(104, 14, 36);
  color: #fff;
  border: 1px purple solid;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 20px 30px;
  overflow: hidden;
  margin: 10px 0;
  position: relative;
  padding: 20px;
  
}

button:focus {
  outline: none;
}

button .circle {
  position: absolute;
  background-color: #fff;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  animation: scale 0.5s ease-out;
}

@keyframes scale {
  to {
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
  }
}
.nameinput{
    font-size: 20px;
}
.numinput{
    font-size: 20px;
}
.birthdate
{
    font-size: 20px;
    padding: 2px;
}
button:hover{
    background-color: rgb(48, 15, 15);
    
 }
 label{
    padding: 20px;
 }